*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #329688;
}

#app-container{
    width: 75em;
    height: 45em;
    background-color: white;
    border-radius: 1em;
    margin: 2em auto;
    display: flex;
}

#left-container{
    height: 100%;
    border-right: 0.5px solid lightgray;
}

.my-top{
    height: 4em;
    padding: 1em;
}

.top-left,
.top-right{
    display: flex;
    gap: 0.8em;
    align-items: center;
}

figure{
    width: 2.2em;
    aspect-ratio: 1;
}

figure img{
    object-fit: contain;
    width: 100%;
    border-radius: 50%;
}

.text-smaller{
    font-size: 0.7em;
}

.notifications{
    background-color: #8EDAFC;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.white-circle{
    background-color: white;
    border-radius: 50%;
}

.gray{
    color: #B1B1B1;
}

.contacts{
    max-height: 20em;
    overflow-y: auto; 
}

.contact{
    height: 4em;
    border-bottom: 0.5px solid lightgray;
    padding: 0.5em;
}

.contact:hover{
    background-color: rgba(211, 211, 211, 0.509);
}

.my-col-2{
    width: 15%;
}

.my-col-6{
    width: 70%;
}

.bigger-figure{
    width: 2.6em;
    vertical-align: middle;
}

.writing-area{
    height: 4em;
    padding: 0.7em;
    background-color: #F3EEEA;
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    align-items: center;
}

.messages-area{
    height: 37em;
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
    padding: 2em;
}

.message-recieved{
    padding: 1em;
    background-color: #FFFFFF;
    margin-bottom: 0.5em;
    border-radius: 1em;
    width: 40%;
    position: relative;
    margin-right: 5em;
}

.message-send{
    padding: 1em;
    background-color: #D5F9BA;
    margin-bottom: 0.5em;
    border-radius: 1em;
    position: relative;
    width: 40%;
    margin-left: 20em;
}

.time{
    position: absolute;
    bottom: 0.3em;
    right: 0.5em;
}